<div class="demo-blog__posts mdl-grid " ng-init="listUser()">
    <div class="mdl-card  mdl-cell mdl-cell--12-col" style="padding-bottom: 25px;">
        <div class="mdl-grid" style="">
            <span class="mdl-cell">
            <button ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    <i class="material-icons">create</i>
            </button>
            </span>
        </div>

        <div class="adm_prf_list mdl-grid" ng-repeat="user in users" style="">
            <span class="mdl-cell"><a href="#/user/{% user.id %}">{% user.id %}</a></span>
        </div>
    </div>
</div>
