<div ng-include="'/assets/html/progress.html'"></div>

<div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded {% progress %}" {% show %}>
    <main class="mdl-layout__content">
        <div class="demo-blog__posts mdl-grid">
            <div class="demo-blog__posts mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col" style="min-height:0px">
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                        <autocomplete ng-model="myconsti" attr-inputclass="mdl-textfield__input" attr-class="mdl-textfield mdl-js-textfield" attr-placeholder="select your constituency" data="consti"></autocomplete>
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                       <label style="color:orange;">{% consti_not_found %}</label>
                    </div>
                    
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text" style="border-top:rgba(0, 0, 0, 0)">
                        <button mdl-upgrade class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="getProfile(myconsti)">
                            Candidates
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-include="'/assets/html/footer.html'"></div>
        
    </main>
</div>
