<div class="mdl-grid adm_prf_edit-btn-grp" style="">
            <span>
                <button ng-click="toggleLang()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">{%alpha%}</button>
            </span>
    <span>
            <button ng-click="createProfile()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    <i class="material-icons">save</i>
            </button>
            </span>
    <span>
            <button ng-click="removeProfile()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    <i class="material-icons">delete</i>
            </button>
            </span>
</div>

<div class="demo-blog__posts mdl-grid adm_prf_edit" ng-init="getProfile()" >
    <div class="basic_info mdl-card  mdl-cell mdl-cell--8-col" style="padding-bottom: 25px;">
        <div class="mdl-color-text--grey-600 item input">
            <span><h5>{% label.name %}</h5></span>
            <span><input ng-focus="focus='sw_1';" type="text" ng-model="name.text" ng-enter="select(0,name)" ng-change="input(name)"/></span>
        </div>
        <ul ng-show="focus=='sw_1'" class="iem-container">
            <li ng-repeat="word in words" ng-click="select($index,name)">{% word %}</li>
        </ul>
        <div class="mdl-color-text--grey-600 item">
            <span><h5>{% label.consti %}</h5></span>
            <span><autocomplete ng-model="myconsti" attr-inputclass="mdl-textfield__input" attr-class="mdl-textfield mdl-js-textfield" attr-placeholder="select your constituency" data="consti"></autocomplete>
        </div>
        <div class="mdl-color-text--grey-600 item">
            <span><h5>{% label.party %}</h5></span>
            <span><input ng-focus="focus='sw_3'" type="text" ng-model="party.text" ng-enter="select(0,party)" ng-change="input(party)"/></span>
        </div>
        <ul ng-show="focus=='sw_3'" class="iem-container">
            <li ng-repeat="word in words" ng-click="select($index,party)">{% word %}</li>
        </ul>
        <div class="mdl-color-text--grey-600 item">
            <span><h5>{% label.experience %}</h5></span>
            <span><input ng-focus="focus='sw_4'" type="text" ng-model="expert.text" ng-enter="select(0,expert)" ng-change="input(expert)"/></span>
        </div>
        <ul ng-show="focus=='sw_4'" class="iem-container">
            <li ng-repeat="word in words" ng-click="select($index,expert)">{% word %}</li>
        </ul>
        



        
    </div>

    <div class=" mdl-card mdl-cell--8-col mdl-cell--4-col-desktop mdl-cell">
        <div style="background-image:url('{% prof_img_url %}')" class="mdl-card__media mdl-color-text--grey-50">
           <div ng-repeat="image in uploader.queue" ng-show="uploader.isHTML5" ng-thumb="{ file: image._file, height: 100}"></div>
        </div>
        <input input type="file" nv-file-select="" uploader="uploader" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
        <i class="material-icons mdl-color-text--white" role="presentation">add</i>
        <span class="visuallyhidden">add</span>
    </div>

        <div class="mdl-card  mdl-cell mdl-cell--12-col">

        <div class="mdl-color-text--grey-600 item">
            <span><h5>Total Number Of Questions</h5></span>
            <span><input type="text" ng-model="survey_count"/><button ng-click="updateServeysInputs()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">update</button></span>
        </div>

        <!-- Questionere Start -->
        <div ng-repeat="q_num in range(0, num_of_q)">
        <div class="mdl-color-text--grey-600 item">
            <span><h5>Question {% q_num %}</h5></span>
            <span><textarea ng-focus="surveys[q_num].focus = true" ng-blur="surveys[q_num].focus = false" type="text" ng-model="surveys[q_num].text" ng-enter="select(0,surveys[q_num])" ng-change="input(surveys[q_num])"></textarea></span>
        </div>
        <ul ng-show="surveys[q_num].focus" class="iem-container">
            <li ng-repeat="word in words" ng-click="select($index,surveys[q_num])">{% word %}</li>
        </ul>
        </div>


    </div>

    <div class="mdl-card  mdl-cell mdl-cell--12-col">
        <br>
        <div class="html-container lighter" style="width: inherit;">
            <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
            <div class="mdl-color-text--grey-600 item dummyarea">
                <span><h5>{% label.trans_area %}</h5></span>
                <span><textarea ng-focus="focus='sw_5'" type="text" ng-model="dummy.text" ng-enter="select(0,dummy)" ng-change="input(dummy)"/></span>
                <ul ng-show="focus=='sw_5'" class="iem-container">
                    <li ng-repeat="word in words" ng-click="select($index,dummy)">{% word %}</li>
                </ul>
            </div>
        </div>
        <br>
    </div>
    <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments" ng-include="'/assets/html/comments/edit_comments.html'">
    </div>
<div class="mdl-grid adm_prf_edit-btn-grp" style="">
    <span>
            <button ng-click="createProfile()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    <i class="material-icons">save</i>
            </button>
            </span>
    <span>
            <button ng-click="removeProfile()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    <i class="material-icons">delete</i>
            </button>
            </span>
</div>
