<div ng-include="'/assets/html/progress.html'"></div>

<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded {% progress %}" {% show %}>
    <main class="mdl-layout__content">
        <div class="demo-back">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="index.html" title="go back" role="button">
                <i class="material-icons" role="presentation">arrow_back</i>
            </a>
        </div>
        <div class="demo-blog__posts mdl-grid">
            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                <div class="mdl-card__media mdl-color-text--grey-50">
                    <h3>{% p.details.name %}</h3>
                </div>
                <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                    <span class="material-icons mdl-badge" data-badge="12367">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" ng-click="recaptcha('recap_like')" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
                    </button>
                    </span>
                    <span class="material-icons mdl-badge" data-badge="12367">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
                    </button>
                    </span>
                    <span ng-click="loadProfile(p)" class="material-icons mdl-badge" data-badge="12367">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i  class="material-icons" role="presentation">comment</i><span class="visuallyhidden">dislike comment</span>
                    </button>
                    </span>
                </div>
                <div id="recap_like" class="mdl-cell--8-col mdl-cell--4-col-desktop  mdl-cell"></div>
                <div class="html-content" ng-bind-html="p.details.htmlContent">
                   
                </div>
                <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments" ng-include="'/assets/html/comments/list.html'">
                </div>
            </div>
            <nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
                <a href="index.html" class="demo-nav__button">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                        <i ng-click="previous" class="material-icons">arrow_back</i>
                    </button>
                    Newer
                </a>
            </nav>
        </div>

         <div ng-include="'/assets/html/footer.html'"></div>

        </main>
</div>
